@model int
<div class="row">
    <div class="col-md-6">
        <button class="btn btn-primary" type="submit" asp-route-id="@Model"> <i class="fas fa-edit"></i> Düzenle</button>
    </div>
    <div class="col-md-6">
        <a asp-action="Index" class="btn btn-success" type="submit">Kayıt Listesi</a>
    </div>
</div>